* {
    margin:0px;
}

body {
    background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}

#dropbox {
    width:70%;
    height:50px;
    margin:auto;
    border:2px dashed #ccc;
    color: #ccc;
    line-height: 50px;
    text-align: center;
}

#dropbox.active {
    border-color:#000;
    color:#000;
    cursor: pointer;
}

#upload {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.my-container {
    padding-top: 15px;
    width:80%;
    margin:auto;
    text-align: center;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 250px;
    height: 35px;
    border: 2px solid #2ab6f5;
    /* background-color: #c2eafc; */
    background-color: #FFFFFF;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: lightblue;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text {
    margin-left: 10px;
}