body {
    background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}

#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

#dropbox.dropped {
    border: 4px dashed yellow;
}

#upload {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 250px;
    height: 35px;
    border: 2px solid darkblue;
/* :background-color: #0099FF; */
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: lightblue;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text {
    margin-left: 10px;
}